<div class="row-fluid">
  <div class="span6 offset2 login-form">
    <h1 id="login">Log In</h1>
    <%= simple_form_for :user, :url => sessions_path,
              :html => { :class => 'form-horizontal' } do |f| %>
      <%= f.input :name, :input_html => { :class => "span3" } %>
      <%= f.input :password, :input_html => { :class => "span3" } %>
      <%= f.button :submit, :class => 'btn pull-right', :value => 'Login' %>
    <% end %>
  </div>
</div>